<div class="main">
    <div class="main-header">
        <h1>Magic Github Explorer</h1>
    </div>
    <div class="main-content">
        <div class="image"><img src="https://image.slidesharecdn.com/techmagic-developmentstudioforstartups-150716083834-lva1-app6892/95/techmagic-development-studio-for-startups-ios-android-nodejs-6-638.jpg?cb=1481285832" alt="techmagic"></div> 
        <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. 
            Duis vulputate commodo lectus, ac blandit elit tincidunt id. 
            Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, 
            et lacinia ipsum quam nec dui.
            Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
            Aenean velit odio, elementum in tempus ut, vehicula eu.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. 
            Duis vulputate commodo lectus, ac blandit elit tincidunt id. 
            Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, 
            et lacinia ipsum quam nec dui.
            Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
            Aenean velit odio, elementum in tempus ut, vehicula eu.</div>
    </div>
</div>

